<h1>
    Conversão de Moeda
</h1>
<div class="d-flex justify-content-center">
    <label>Preço do dolar: </label>
    <input type="number" id="dolar" [(ngModel)]="Dolar_Real">
  </div>
  <div class="mt-4">
    <label>Quantos Reais: </label>
    <input type="number" id="conversao" [(ngModel)]="convert_Real">
  </div>
    <div class="result" *ngIf="resp">
    <p>Seu resultado é {{ resp }}</p>
</div>
    
<button class="resp" onclick="resp()">=</button>
<br>
<div class="d-flex justify-content-center">
    <label>Preço do Real: </label>
    <input type="number" id="dolar" [(ngModel)]="Real_Dolar">
  </div>
  <div class="mt-4">
    <label>Quantos Dolares: </label>
    <input type="number" id="conversao" [(ngModel)]="convert_Dollar">
  </div>
    <div class="result" *ngIf="resp">
    <p>Seu resultado é {{ resp }}</p>
</div>