<h1>
    Conversão de Moeda
</h1>

<div class="dolar">
    <label>
        Quanto está o Dolar?
    </label>
    <input type="number" name="Dolar_Real">
</div>
<div class="real">
    <label>
        Qual é o valor de conversão?
    </label>
    <input type="number" name="convert_Real">
</div>
<div class="result">
    <button class="conversao" onclick="convert_Dolar()">=</button>
</div>
<div class="result">
    <label> Resultado:</label>   
    <input type="text" class="resp" id="resp" readonly>
</div>
